<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myevent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Detail_Seminar"></activity>
        <activity android:name=".ListEvent" />
        <activity android:name=".ListSeminar" />
        <activity android:name=".ListWorkshop" />
        <activity android:name=".Login" />
        <activity android:name=".Setting" />
        <activity android:name=".metodePembayaran" />
        <activity android:name=".Register" />
        <activity android:name=".Profil" />
        <activity android:name=".Homepage" />
        <activity android:name=".Education" />
        <activity android:name=".ListExhibition" />
        <activity android:name=".desc_event" />
        <activity android:name=".transaksi1" />
        <activity android:name=".Welcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>